snippet frame "frame environment" !b
\begin{frame}{${1:frametitle}}
  ${2}
\end{frame}
endsnippet

snippet fframe "frame environment" !b
\begin{frame}[fragile]{${1:frametitle}}
  ${2}
\end{frame}
endsnippet
